<div class="row">
    <!-- column -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- title -->
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title font-16 text-uppercase">Sessions</h4>
                        <p>(click row to show)</p>
                    </div>
                    <div class="ml-auto">
                        <div class="dl">
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table v-middle nowrap">
                        <thead>
                            <tr>
                                <th class="border-top-0">#</th>
                                <th class="border-top-0">Session</th>
                                <th class="border-top-0">Timestamp</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let data of sessions' (click)="showSession(data.session)">
                                <td> {{data.id}} </td>
                                <td> {{data.session}} </td>
                                <td> {{data.timecreated}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>